body{
    display: flex;
    padding: 2vw;
    background: linear-gradient(to bottom, rgb(218, 207, 207),rgb(201, 201, 212));
}
textarea{
    width: 90%;
    height: 87vh;
}
button{
    margin-left: 2vh;
    background-color: rgb(125, 237, 125);
    border-radius: 10px;
    height: 5vh;
    width: 10%;
    color: white;
    border: 1px solid white;
}